body{
    padding:20px;
}
#title{
    font-family:helvetica;
    font-size:24px;
    color:Green;
	background-color:LawnGreen;}
#subtitle{
    font-family:helvetica;
    font-size:16px;
  font-style:italic;  color:darkgoldenrod;	background-color:GhostWhite;
}
li{
    padding-bottom:20px;
}
#content{
    padding:15px;
    font-family:helvetica;
    font-size:20px;
    color:darkgoldenrod;	background-color:ghostwhite;
}
